body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.main-title{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}
h1 img{
    height: 0.8em;
}